
.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/propylo-technical-test.iml

.idea/vcs.xml

pttbackend/venv37

*.pyc

pttbackend/.idea/

pttfrontend/.vscode/

.idea/
